@font-face {
  font-family: 'Gotham';
  src: url('../Fonts/GothamMedium.ttf') format('truetype');
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #050000;
  border-radius: 10px;
  padding: 20px;
  width: 97%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.displayDiv {
  margin-bottom: 20px;
}

.displayDate {
  font-size: 40px;
  font-family: 'Gotham', sans-serif;
  color: #fff;
}

.titleCard {
  color: #fff;
  font-family: 'Gotham', sans-serif;

}

.date {
  float:left;
}

.submit {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7.5px 20px;
  font-size: 16px;
  cursor: pointer;
  float: left;
  margin-left: 10px;
}

.login {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7.5px 20px;
  font-size: 16px;
  cursor: pointer;
  float: left;
  margin-left: 10px;
  font-family:'Gotham', sans-serif; 
  text-decoration: none;
}

.login:hover {
  background-color: gray;
}

.login:active {
  background-color: darkgray;
}

.submit:hover {
  background-color: gray;
}

.submit:active {
  background-color: darkgray;
}

.react-datepicker-wrapper {
  display: inline-block;
}

.react-datepicker__input-container input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  padding: 10px;
  background-color: rgba(129, 83, 83, 0.297);
  color: rgb(251, 251, 251);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.react-datepicker__input-container input:hover {
  background-color: gray; /* Adjust the color as needed */
}

.react-datepicker__input-container input::placeholder {
  color: white;
}

.logout {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.logout:hover {
  color: gray; /* Adjust the color as needed */
}

.gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.loadingText{
  color: #949494;
  font-family: 'Varela Round', sans-serif; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gifContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spotifyFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}